<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Produtos</title>
    <script>

        function confirmDelete() {
            return confirm('Você tem certeza que deseja deletar este cliente?');
        }

    </script>
</head>
<body>

    <h1>Cadastros TechStore</h1>

    <a href="/clientes">
        <button>Clientes</button>
    </a>

    <a href="/produtos">
        <button>Produtos</button>
    </a>

    <a href="/categorias">
        <button>Categorias</button>
    </a>

</body>
</html>